body {
  font: 14px "Raleway", Helvetica, Arial, sans-serif;
  background: #f6b1c6;
}
a {
  color: #00b7ff;
}
.header {
  background: #f5f5f5;
  padding: 10px 0px;
  text-align: center;
  border-bottom: solid 1px #fff;
}
.header .logo {
  background: transparent url("/img/logojk.png") no-repeat 0px 0px;
  background-size: 100%;
  height: 75px;
  width: 75px;
  display: block;
  float: left;
  margin-right: 20px;
}
.header span {
  text-align: center;
  display: block;
  font-size: 22px;
  margin: 20px 0px;
}
.welcome {
  text-align: center;
}
.welcome form {
  text-align: left;
}
.preferences .controls .btn {
  margin: 0px 0px 10px 10px;
}
.well {
  text-align: center;
}
#helper {
  background: transparent url("/img/mike.png") no-repeat right bottom;
  position: fixed;
  bottom: -250px;
  right: 0px;
  width: 100%;
  height: 250px;
}
#helper #thoughts {
  background: transparent url("/img/thoughtbubble-blue.png") no-repeat 0px 0px;
  display: none;
  position: absolute;
  top: -110px;
  right: 100px;
  width: 165px;
  height: 140px;
  padding: 10px 10px 40px 10px;
}
#helper #thoughts span {
  font-family: "Clicker Script", sans-serif;
  font-size: 20px;
}
#helper #concerts {
  display: none;
}
#helper.carly {
  background: transparent url("/img/carly.png") no-repeat right bottom;
}
#helper.carly #thoughts {
  background: transparent url("/img/thoughtbubble.png") no-repeat 0px 0px;
}
#helper.carly #thoughts ul {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#helper.carly #concerts {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  background-color: rgba(0,0,0,0.50);
}
#helper.carly #concerts span {
  color: #fff;
  position: absolute;
  margin: 3px 0px 2px 0px;
  height: 25px;
  left: 140px;
  width: 2000px;
  display: block;
  overflow: hidden;
}
#helper.carly #concerts span ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 25px;
  overflow: hidden;
}
#helper.carly #concerts span.title {
  font-size: 20px;
  width: 140px;
  left: 0px;
}