extends layout

block content
    .welcome
        .row-fluid
            .span4.offset4                
                    .control-group                       
                      a(href="#{connectLink}") Connect your mailbox