extends layout

block content
    .welcome
        .row-fluid
            .span4.offset4
                form(action="/user/create", method="post")
                    .control-group
                        .controls
                            .input-prepend
                                span.add-on.span3
                                    i.icon-envelope
                                input.span12(type="email", name="email", autofocus, placeholder="Email address")

                    .control-group
                        .controls
                            .input-prepend
                                span.add-on.span3
                                    i.icon-user
                                input.span12(type="text", name="phone", placeholder="Phone number")

                    .control-group
                        .controls
                            .input-prepend
                                span.add-on.span3
                                    i.icon-certificate
                                input.span12(type="password", name="password", placeholder="Password")

                    input(type="submit")