extends layout

block content
    .welcome
        h1 Welcome
        h2 to Call Me, Maybe

        .well
            p Are You a New User?
            a.btn.btn-info.btn-large(href='/user/create') create account

        .well
            p Or Already a Fan?
            a.btn.btn-info.btn-large(href='/user/login') sign in
