extends layout

block content
    .welcome
        .row-fluid
            .span4.offset4
                h1  Welcome Back!
                form(action="/postlogin1")(method="post")
                    .control-group
                        label.control-label Username
                        .controls
                            .input-prepend
                                span.add-on
                                    i.icon-envelope
                                input.span12#username(type="text")
                    .control-group
                        label.control-label Password
                        .controls
                            .input-prepend
                                span.add-on
                                    i.icon-certificate
                                input.span12#password(type="password")
                    input(type="submit")