extends layout

block content
    .welcome
        .row-fluid
            .span4.offset4
                form(action="/login", method="post")
                    .control-group
                        .controls
                            .input-prepend
                                span.add-on
                                    i.icon-envelope
                                input.span12#username(type="text", name="username", placeholder="E-mail address")
                    .control-group
                        .controls
                            .input-prepend
                                span.add-on
                                    i.icon-certificate
                                input.span12#password(type="password", name="password", placeholder="Password")
                    .control-group
                      input(type="submit")
                    .control-group
                      a.create-account(href='/user/create') Create account