extends ../layout

block content
    .welcome
        .row-fluid
            .span4.offset4
                h1 Create your Account

                form(action="/signupAction", method="POST")
                    .control-group
                        label.control-label Enter your Email
                        .controls
                            .input-prepend
                                span.add-on.span3
                                    i.icon-envelope
                                input.span12#email(value="ruzz311@gmail.com", type="email", name="email", autofocus)

                    .control-group
                        label.control-label Enter your Phone Number
                        .controls
                            .input-prepend
                                span.add-on.span3
                                    i.icon-user
                                input.span12#phone(value="9139612164", name="phone", type="text")

                    .control-group
                        label.control-label Enter a Password
                        .controls
                            .input-prepend
                                span.add-on.span3
                                    i.icon-certificate
                                input.span12#password(name="password", type="password")

                    button.btn.btn-info.pull-right(type="submit") Let's Go!